<p>
  First Number : 
  <input [value]="a">
</p>

<p>
    Second Number : 
    <input [value]="b">
</p>

<p>
  Sum is {{c}}
</p>

<p>
    <button (click)="add()">ADD</button>
</p>
<br> <br> <br> <br> <br>

<p>
    Physics : 
    <input [value]="physics">
  </p>
  
  <p>
      chemistry : 
      <input [value]="chemistry">
  </p>

  <p>
      Maths : 
      <input [value]="maths">
  </p>

  <p>
      Hindi : 
      <input [value]="hindi">
  </p>

  <p>
      English : 
      <input [value]="english">
  </p>
  
  <p>
    Average Marks = {{avg}}
  </p>
  
  <p>
      <button (click)="average()">AVG</button>
  </p>